body {
    background-image: url('../../assets/homepage-image.jpg');
}

.homebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: white;
}

.title {
    color: white;
    font-size: 10vh;
}

.description {
    color: white;
    font-size: 4vh;
}

.icon {
    margin-left: 10px;
}

.icon:hover {
    opacity: 0.5;
}